<form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm({{ 'Are you sure you want to delete this item?'|trans }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
    <button class="btn">{{ 'Delete'|trans }}</button>
</form>
