{{ form_start(form) }}
{{ form_label(form.label, 'Label'|trans) }}
{{ form_widget(form.label) }}
{{ form_label(form.deadlineAt, 'Deadline at'|trans) }}
{{ form_widget(form.deadlineAt) }}
{{ form_label(form.categories, 'Categories'|trans) }}
{{ form_widget(form.categories) }}
<button class="btn">{{ button_label|default('Save'|trans) }}</button>
{{ form_end(form) }}

