<form method="post" action="{{ path('task_index') }}">
    <input type="hidden" name="_token" value="{{ csrf_token('select' ~ tasks|length) }}">
    <label for="categories-select"></label>
    <select name="category" id="categories-select">
        <option value="">{{ '--Select a category--'|trans }}</option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.label }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">{{ 'Submit'|trans }}</button>

    {% for message in app.flashes('warning') %}
        <div class="flash-warning">
            {{ message|trans }}
        </div>
    {% endfor %}
</form>
{% if filterTask is defined %}
    <a href="{{ path('task_index') }}">{{ 'Back to general list'|trans }}</a>
{% endif %}
