{% extends 'base.html.twig' %}

{% block title %}{{ 'Edit Task'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Edit Task'|trans }}</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('task_index') }}">{{ 'back to list'|trans  }}</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
