{% extends 'base.html.twig' %}

{% block title %}{{ 'Task index'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'Tasks index'|trans}} </h1>
    {% include 'task/_select_tasks_button.html.twig' %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'id'|trans }}</th>
                <th>{{ 'label'|trans }}</th>
                <th>{{ 'categories'|trans }}</th>
                <th>{{ 'Deadlines'|trans }}</th>
                <th>{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.label }}</td>

                 <td>

                     <div class="dropdown">
                         <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                             {{ 'Categories\'s list'|trans }}
                         </button>
                         <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                             {% for category in task.categories %}
                             <li>{{ category }}</li>
                             {% endfor %}
                         </ul>
                     </div>

                 </td>
                <td>
                    {{ task.deadlineAt|format_datetime('medium', 'short') }}
                </td>

                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">{{ 'show'|trans }}</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">{{ 'edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'no record found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="w-50 mx-auto">
        <a href="{{ path('task_new') }}">{{ 'Create new'|trans }}</a>
    </div>

{% endblock %}
