{% extends 'base.html.twig' %}

{% block title %}{{ 'Task'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Task'|trans  }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'Id'|trans }}</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>{{ 'Label'|trans }}</th>
                <td>{{ task.label }}</td>
            </tr>
            <tr>
                <th>{{ 'DeadlineAt'|trans }}</th>
                <td>{{ task.deadlineAt ? task.deadlineAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'Category'|trans }}</th>
                {% for category in task.categories %}
                <td>{{ category.label }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('task_index') }}">{{ 'back to list'|trans }}</a>

    <a href="{{ path('task_edit', {'id': task.id}) }}">{{ 'edit'|trans }}</a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
