<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'Welcome !'|trans }}{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <div class="container w-50 mx-auto">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.request.locale|locale_name(app.request.locale)|u.title }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {_locale: 'en', id: taskId ? taskId : null }) }}">English</a>
                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), {_locale: 'fr', id: taskId ? taskId : null }) }}">Français</a>
            </div>
        </div>

        {% block body %}{% endblock %}
    </div>


    </body>

</html>
